/3609_2324-Guidelines to Group Project (20%).pdf
/ACCT1101_Assignment Questions_Chapter 06.pdf
/boston_housing.csv
/CENG9001 習作二（題目）（修訂版） 2023-24 S1.pdf
/CENG9001小組口頭報告評論表2023-24 S1.pdf
/CENG9001習作三、四（題目及指引）2023-24 S1.pdf
/DE000A2E4K43-Q2-2023-EQ-E-00.pdf
/Highest_return.py
/Investment Portfolios on Sep 12.xlsx
/LiChunKit小組口頭報告評論表.pdf
/portoptimization.py
/return.py
/Source (2018-2019).zip
/STAT3609 (2015-2016) from CWH
/STAT3609 (2015-2016) from CWH-20230923T151422Z-001.zip
/STAT3609 (23-24, 1st) Course Outline.pdf
/STAT3609 A1.pdf
/STAT3609 A2.pdf
/STAT3609 A3.pdf
/STAT3609 Lecture Notes.pdf
/STAT3609_Assignment_1 (1).pdf
/STAT3609_Assignment_1 (2).pdf
/STAT3609_Assignment_1.pdf
/tsetup-x64.4.10.2.exe
/Tutorial
/^HSI (1).csv
/^HSI.csv
/~$asm 3 Q8.xlsx
/~$asm 3.xlsx
/活頁簿1.xlsx